<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app>
    <div class="container">
        <p>Name: <input type="text" ng-model="name"></p>
        {{ name }}

        <div class="row" ng-init="users['Mariel', 'Evha', 'ABIR]">
            <p ng-bind="users"></p>
            <ul>
                <li ng-repeat="user in users">{{ user }}</li>
            </ul>
        </div>
    </div>

    <script>
        angular.module('initExample', [])
            .controller('ExampleController', ['$scope', function($scope) {
                $scope.list = [['a', 'b'], ['c', 'd']];
            }]);
    </script>
    <div ng-controller="ExampleController">
        <div ng-repeat="innerList in list" ng-init="outerIndex = $index">
            <div ng-repeat="value in innerList" ng-init="innerIndex = $index">
                <span class="example-init">list[ {{outerIndex}} ][ {{innerIndex}} ] = {{value}};</span>
            </div>
        </div>
    </div>
<input type="buttont" value="Button" onclick="getCookie()">
<script>
    document.cookie = "name=data";

    getCookie();
     function getCookie() {
         var x = document.cookie;
         console.log(x);
     }
</script>

</body>
</html>
